<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wavesplatform.wallet"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.mtramin.rxfingerprint" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".BlockchainApplication"
        android:allowBackup="false"
        tools:replace="allowBackup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".v1.ui.launcher.LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="waves" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".v1.ui.home.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.dex.markets.add.AddMarketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.auth.PinEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.dex.markets.MarketsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.auth.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.pairing.ImportOrCreateWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.auth.PasswordWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.auth.SeedWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.auth.ChooseWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.assets.AssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.backup.BackupWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.auth.LogoutActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".v1.ui.zxing.CaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".v1.ui.transactions.TransactionDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".v1.ui.assets.IssueAssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".v1.ui.transactions.IssueDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".v1.ui.transactions.ReissueDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".v1.ui.transactions.UnknownDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".v1.ui.dex.details.DexDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".v1.ui.dex.details.order.PlaceOrderActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".v1.ui.transactions.ExchangeTransactionActivity"></activity>
    </application>

</manifest>